.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 46px 0 43px 0;
  box-shadow: 0 5px 30px 0 rgb(152 152 152 / 20%);
  z-index: 100;
  background-color: #fff;
  .mid-container {
    max-width: 1800px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__name {
    @extend %rubik-500;
    font-size: 36px;
    color: $text;
    margin-left: 12px;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }

  &__list-link {
    color: $text;
    transition: all 0.3s;

    &:hover {
      color: $accent-dark;
    }
  }
  &__list-item {
    position: relative;
    padding: 10px 0;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }
}

/* ---------Множественное меню-------------- */
.menu__sub-list {
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgb(152 152 152 / 20%);
  padding: 15px;
  right: 0;
  min-width: 140px;
  text-align: center;
  border-radius: 8px;
}

.menu__sub-item {
  margin-bottom: 15px;
}

.menu__sub-item+.menu__sub-item {
  margin-bottom: 0;
}

.menu__sub-link {
  color: $text;
  transition: all 0.3s;

  &:hover {
    color: $accent-dark;
  }
}

body._pc .menu__list-item:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__arrow {
  display: none;
}

body._touch .menu__item {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 17px;
  margin-left: 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  border-top: 10px solid $text;
}

body._touch .menu__list-item._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list-item._active .menu__arrow {
  transform: rotate(-180deg);
}
/* ----------------------------------------- */

.user-nav {
  &__inner {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    width: 51px;
    height: 51px;
    background-color: $accent-light;
    border-radius: 50%;
    position: relative;

    svg {
      position: absolute;
      top: 17px;
      left: 17px;
    }
  }

  &__shop {
    margin-left: 21px;
    margin-right: 18px;
    width: 178px;
    height: 51px;
    background-color: $bg;
    border-radius: 25px;
    position: relative;
  }

  &__menu {
    width: 51px;
    height: 51px;
    background-color: $accent-dark;
    border-radius: 50%;
    position: relative;

    svg {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  &__shop-link {
    &:nth-child(1) {
      position: absolute;
      top: 18px;
      left: 38px;

      &::after {
        content: '';
        left: 50px;
        top: -8px;
        position: absolute;
        width: 1px;
        height: 32px;
        background-color: #fff;
      }
    }

    &:nth-child(2) {
      position: absolute;
      top: 18px;
      right: 41px;
    }
  }
}

.user-nav__num {
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  font-size: 10px;
  color: $default;
  @extend %dmsans-400;
  top: -5px;
  left: 12px;
}

.menu__btn {
  display: none;
}

@media (min-width: 1050px) {
  .menu__sub-list {
    transform: translate(0px, 10%);
    visibility: hidden;
    pointer-events: none;
      /* запрещает любое взаимодействие с объектом */
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1050px) {
  .menu {
    display: flex;
    order: 1;

    &__list-item {
      width: 100%;
      text-align: center;
      padding: 0 15px;
    }

    &__list-item+.menu__list-item {
      padding-left: 15px;
    }

    &__list-link {
      display: block;
      padding: 15px 0;
    }
  }

  .menu__list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 115px;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: all .3s ease;
    background-color: #fff;

    &.menu__list--active {
      max-height: 1000px;
      transition: all 0.6s ease;
      padding-bottom: 10px;
    }
  }

  .menu__btn {
    width: 30px;
    height: 22px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $text;
      transition: all 0.25s ease;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      width: 100%;
      height: 3px;
      background-color: $text;
    }

    &.menu__btn--active {
      &::before {
        transform: rotate(45deg);
        position: absolute;
        top: 9px;
      }

      &::after {
        transform: rotate(-45deg);
        position: absolute;
        top: 9px;
      }

      span {
        height: 0;
        transition: all .25s ease;
      }
    }
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }

  .menu__list-item._active .menu__sub-list {
    display: block;
    position: unset;
    text-align: center;
    margin: -10px 0 5px;
    background-color: $accent-light;
    box-shadow: none;
    padding: 20px 10px;
  }

  body._pc .menu__list--active .menu__list-item:hover .menu__sub-list {
    display: block;
    position: unset;
    text-align: center;
    margin: -10px 0 5px;
    background-color: $accent-light;
    box-shadow: none;
    padding: 20px 10px;
    opacity: 1;
  }
}

@media (max-width: 786px) {
  .user-nav {
    &__shop {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__wrapper {
      flex-wrap: wrap;
    }
  }

  .user-nav {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    &__shop {
      width: 170px;
    }

    &__shop-link:nth-child(1) {
      left: 33px;
    }
  }

  .menu {
    order: 0;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }
}