html,
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
} 

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.mid-container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.big-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;
  color: #191919;
}

.top-title {
  @extend %rubik-300;
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  margin-bottom: 7px;
  color: #222933;
  text-transform: capitalize;
}

.breadcrumbs {
  display: inline-flex;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    padding-right: 20px;
    position: relative;
    &::after {
      content: '/';
      position: absolute;
      color: rgba(34, 41, 51, 0.6);
      right: 6px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(34, 41, 51, 0.6);  
    text-transform: capitalize;
  }
    // #222933
}


.filter-btns {
  margin-bottom: 80px;
}

.filter-btn {
  @extend %dmsans-700;
  font-size: 16px;
  text-align: center;
  color: #8b8b8b;
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-btn + .filter-btn {
  padding-left: 30px;
}

.mixitup-control-active {
  color: #1a1a1a;
}

@media (max-width: 400px) {
  .top-title {
    font-size: 32px;
  }
}