@import "reset";
@import "vars";
@import "global";
@import "libs";
@import "fonts";

@import "../modules/header/_header";
@import "../modules/footer/_footer";
@import "../modules/top-slider/_top-slider";


.top-slider {
  &__info {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info-item {
    min-height: 170px;
    max-width: 580px;
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
  &__info-item+.top-slider__info-item {
    border-left: 1px solid #e8e4df;
  }
  &__info-img {
    margin-right: 30px;
  }
  &__info-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 18px;
    color: #414141;
    margin-bottom: 10px;
  }
  &__info-text {
    @extend %dmsans-400;
    font-size: 16px;
    color: #585858;
    max-width: 220px;
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .top-slider {
    &__info-item {
      flex-direction: column;
      text-align: center;
    }
    &__info-text {
      max-width: 100%;
      padding: 0 10px;
    }
  }
}

@media (max-width: 1050px) {
  .top-slider {
    &__info-title {
      font-size: 16px;
    }
    &__info-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 950px) {
  .top-slider {
    &__info-item {
      min-height: 150px;
    }
    &__info-img {
      display: none;
    }

  }
}

@media (max-width: 800px) {
  .top-slider {
    &__info {
      display: none;
    }
  }
}