.articles {
  padding-top: 120px;
  position: relative;
  margin-bottom: 267px;

  &__wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }


  &__link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    transition: all .3s;

    &:hover {
      color: $accent-dark;

      span {
        path {
          fill: $accent-dark;
          transition: all .3s;
        }
      }
    }
  }

  &__link--img {
    padding-left: 15px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 370px));
    gap: 30px;
    grid-template-rows: minmax(420px, auto);
    grid-auto-rows: minmax(420px, auto);
  }

  &__item {
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all ease .3s;

    &:hover {
      box-shadow: 3px 3px 5px #cacaca;
    }

    &:hover .articles__item-img {
      transition: 1s;
      transform: scale(1.1);
    }
  }

  &__scale {
    overflow: hidden;
  }

  

  &__img-box {
    position: relative;

    &::before {
      content: 'NEWS';
      position: absolute;
      width: 103px;
      height: 30px;
      border-radius: 15px;
      background-color: $accent-dark;
      color: #fff;
      display: flex;
      justify-content: center;
      left: 28px;
      bottom: -15px;
      z-index: 1;
    }
  }

  &__item-box {
    padding-top: 28px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item-text {
    @extend %dmsans-700;
    font-size: 18px;
    color: #262626;
    max-width: 290px;
    line-height: 24px;
  }
}

.articles-box {
  display: flex;
  padding-top: 23px;
  border-top: 1px solid #e0e0e0;
  font-size: 12px;
  line-height: 12px;
  color: #222933;
  padding-left: 17px;
  margin-top: auto;

  &__author {
    color: #222933;
    margin-left: 30px;
    position: relative;
    padding-left: 3px;

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: -13px;
      background-image: url('../img/icons/user.svg');
    }
  }

  &__date {
    position: relative;
    padding-left: 3px;
    color: #222933;

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: -13px;
      background-image: url('../img/icons/calendar.svg');
    }
  }
}

.articles {
  &__link {
    &.color-default {
     transition: all .3s;
     color: $default;
      &:hover {
        color: $accent-dark;
      }
    }
  }
}

.articles-partners {
  background: rgba(252, 215, 182, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: -269px;

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 265px 0 90px 0;
    flex-wrap: wrap;
  }
}

@media (max-width: 1210px) {
  .articles {
    margin-bottom: 260px;
  }

  .articles-partners {
    bottom: -268px;
  }
}

@media (max-width: 1200px) {
  .articles-partners {
    bottom: -265px;
  }
}

@media (max-width: 1190px) {
  .articles-partners {
    bottom: -262px;
  }
}

@media (max-width: 1180px) {
  .articles-partners {
    bottom: -260px;
  }
}

@media (max-width: 1170px) {
  .articles-partners {
    bottom: -258px;
  }

  .articles {
    margin-bottom: 258px;
  }
}

@media (max-width: 1150px) {
  .articles-partners {
    bottom: -254px;
  }

  .articles {
    margin-bottom: 254px;
  }
}

@media (max-width: 1140px) {
  .articles-partners {
    bottom: -252px;
  }
}

@media (max-width: 1130px) {
  .articles-partners {
    bottom: -250px;
  }

  .articles {
    margin-bottom: 250px;
  }
}

@media (max-width: 1120px) {
  .articles-partners {
    bottom: -248px;
  }
}

@media (max-width: 1110px) {
  .articles-partners {
    bottom: -246px;
  }

  .articles {
    margin-bottom: 246px;
  }
}

@media (max-width: 1100px) {
  .articles-partners {
    bottom: -244px;
  }

  .articles {
    margin-bottom: 244px;
  }
}

@media (max-width: 1090px) {
  .articles-partners {
    bottom: -241px;
  }

  .articles {
    margin-bottom: 242px;
  }
}

@media (max-width: 1080px) {
  .articles-partners {
    bottom: -239px;
  }

  .articles {
    margin-bottom: 240px;
  }
}

@media (max-width: 1070px) {
  .articles-partners {
    bottom: -237px;
  }

  .articles {
    margin-bottom: 236px;
  }
}

@media (max-width: 1060px) {
  .articles-partners {
    bottom: -235px;
  }

  .articles {
    margin-bottom: 234px;
  }
}

@media (max-width: 1050px) {
  .articles-partners {
    bottom: -231px;
  }

  .articles {
    margin-bottom: 230px;
  }
}

@media (max-width: 1030px) {
  .articles-partners {
    bottom: -226px;
  }

  .articles {
    margin-bottom: 226px;
  }
}

@media (max-width: 1020px) {
  .articles-partners {
    bottom: -224px;
  }

  .articles {
    margin-bottom: 224px;
  }
}

@media (max-width: 1000px) {
  .articles-partners {
    bottom: -220px;
  }

  .articles {
    margin-bottom: 220px;
  }
}

@media (max-width: 992px) {
  .articles {
    margin-bottom: 0;

    &__items {
      grid-template-columns: repeat(2, minmax(auto, 370px));
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  .articles-partners {
    position: static;

    &__list {
      padding: 60px 0 90px 0;
    }

    &__item {
      margin-left: 12px;
      margin-right: 12px;
      margin-top: 30px;
    }
  }
}

@media (max-width: 900px) {
  .articles {
    padding-top: 60px;
  }
}


@media (max-width: 650px) {
  .articles {
    &__wrapper-title {
      display: block;
      margin-bottom: 30px;
    }

    &__title {
      text-align: left;
      margin-bottom: 15px;
    }

    &__items {
      grid-template-columns: repeat(1, minmax(auto, 370px));
      justify-content: center;
      gap: 25px;
    }

    &__item-box {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__item-text {
      font-size: 16px;
      max-width: 100%;
      padding-bottom: 10px;
    }
  }

  .articles-box {
    padding-top: 15px;
  }

  .articles-partners {
    &__list {
      padding: 20px 0 50px 0;
    }
  }
}

@media (max-width: 370px) {
  .articles {
    &__items {
      grid-template-rows: minmax(380px, auto);
      grid-auto-rows: minmax(380px, auto);
      gap: 20px;
    }

    &__item-box {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 340px) {
  .articles {
    &__items {
      grid-template-rows: minmax(360px, auto);
      grid-auto-rows: minmax(360px, auto);
    }
  }
}